
@{
    ViewData["Title"] = "List";
    ViewData["body"] = "product-page single-product";
    Layout = "~/Views/Shared/_LayoutFront.cshtml";
}

@using ProjectSepatu.Models.HomeViewModels

@model ListViewModel

<div class="section" style="margin-top:90px;">
    <div class="products-in-category-tabs-wrapper container">

        <div class="sidebar-product-style-2" style="margin-top:-30px;">
            <div class="row">
                <div class="col-md-4 col-xs-12">
                    <aside>
                        <h4>Kategori</h4>
                        <select id="CategoryFilter" class="selectpicker form-control">
                            <option selected>Select All</option>
                            @*@foreach (var item in Model.CategoryList)
                            {
                                <option value="@item.Id">@item.Gender</option>
                            }*@
                        </select>

                    </aside>
                </div>
                <div class="col-md-3 col-xs-12">
                    <aside>
                        <h4>Tipe</h4>
                        <select id="TypeFilter" class="selectpicker form-control">
                            <option selected>Select All</option>
                            @foreach (var item in Model.ProductTypeList)
                            {
                                <option value="@item.Id">@item.Type</option>
                            }
                        </select>
                    </aside>
                </div>
                <div class="col-md-3 col-xs-12">
                    <aside>
                        <h4>Brand</h4>
                        <select id="BrandFilter" class="selectpicker form-control">
                            <option selected>Select All</option>
                            @foreach (var item in Model.BrandList)
                            {
                                <option value="@item.Id">@item.Nama_Brand</option>

                            }
                        </select>
                    </aside>
                </div>
                <div class="col-md-2 col-xs-12">
                    <aside style="margin-top:53px;">

                        <button class="btn btn-baru btn-block" onclick="FilterToListPage()">Search &nbsp;&nbsp;<i class="fa fa-search"></i></button>

                    </aside>
                </div>

            </div>
        </div>
        <div class="row">
            <div class="col-md-3" style="margin-top:-10px;">

                <div class="sidebar-product">
                    <aside class="categorie">
                        <h4>Urutkan  </h4>&nbsp;&nbsp;<button class="fa fa-caret-down fa-lg" style="background-color:white;border:none" data-toggle="collapse" data-target="#demo"></button>
                        <div class="collapse" id="demo">
                            <ul class="categories">
                                <li><a asp-action="List" asp-route-idType="@Model.TypeId" asp-route-sortOrder="@ViewData["TermurahSortParm"]">Termurah</a></li>
                                <li><a asp-action="List" asp-route-idType="@Model.TypeId" asp-route-sortOrder="@ViewData["TermahalSortParm"]">Termahal</a></li>
                                <li><a asp-action="List" asp-route-idType="@Model.TypeId" asp-route-sortOrder="@ViewData["DilihatSortParm"]">Dilihat Terbanyak</a></li>
                                <li><a asp-action="List" asp-route-idType="@Model.TypeId" asp-route-sortOrder="@ViewData["PenjualanSortParm"]">Penjualan Terbanyak</a></li>
                                <li><a asp-action="List" asp-route-idType="@Model.TypeId" asp-route-sortOrder="@ViewData["TerbaruSortParm"]">Terbaru</a></li>
                            </ul>
                        </div>
                    </aside>
                    <aside class="categorie">
                        <h4>Harga</h4>&nbsp;&nbsp;<button class="fa fa-caret-down fa-lg" style="background-color:white;border:none" data-toggle="collapse" data-target="#price"></button>
                        <div class="collapse" id="price">
                            <div class="form-group">
                                <label for="usr">Harga Minimal (Rp.):</label>
                                <input type="text" class="form-control" id="min" placeholder="Contoh : 500.000">
                            </div>
                            <div class="form-group">
                                <label for="pwd">Harga Maksimal (Rp.):</label>
                                <input type="password" class="form-control" id="max" placeholder="Contoh : 1.000.000">
                            </div>

                        </div>


                    </aside>
                </div>
            </div>
            <div class="col-md-9">
                <div class="products-content product-tab">
                    <div class="woocommerce product-listing columns-3 clearfix">
                        <br />
                        <br />
                        @*<ul class="products-tabs nav nav-pills">
                                <li class="active"><a href="#1a" data-toggle="tab">All</a></li>
                                <li><a href="#2a" data-toggle="tab">Chair</a></li>
                                <li><a href="#3a" data-toggle="tab">Decoration</a></li>
                                <li><a href="#4a" data-toggle="tab">Essential</a></li>
                                <li><a href="#5a" data-toggle="tab">Sofar</a></li>
                            </ul>*@
                        <div class="desc-review-content tab-content clearfix">
                            @foreach (var item in Model.listProducts)
                            {
                                <div class="product-item-wrap has-post-thumbnail">
                                    <div class="product-item-inner">
                                        <div class="product-thumb">
                                            @*<div class="product-flash-wrap"><span class="on-sale product-flash"></span><span class="on-sale product-flash"></span></div>*@
                                            <div class="product-thumb-primary"><img width="300" height="400" src="~/Assets/Front/image/product/1.jpg" alt="42" title="42" class="attachment-shop_catalog size-shop_catalog wp-post-image" /></div>
                                            <div class="product-thumb-secondary"><img width="300" height="400" src="~/Assets/Front/image/product/3.jpg" alt="47" class="attachment-shop_catalog size-shop_catalog" onclick="ToDetailsProduct(@item.Id)" /></div>
                                                <div class="product-hover-sign">
                                                    <hr />
                                                    <hr />
                                                </div>
                                            
                                            <div class="product-actions">
                                                <div class="yith-wcwl-add-to-wishlist add-to-wishlist-225">
                                                </div>

                                                <div class="add-to-cart-wrap"><a href="#" class="add_to_cart_button"><i class="fa fa-cart-plus"></i> <span>Add to cart</span></a></div>
                                            </div>
                                        </div>
                                        <div class="product-info">
                                            <div class="rate" style="margin-right:-20px;"><i class="fa fa-eye" aria-hidden="true">&nbsp;@item.Dilihat</i></div><span class="price">
                                                @if (item.Diskon_Persen == 0 && item.Diskon_Rp == 0)
                                                {

                                                    <ins><span class="woocommerce-Price-currencySymbol" style="color:green;">Rp @item.Harga_Setelah_Diskon</span></ins>
                                                }
                                                else
                                                {
                                                    <del><span class="woocommerce-Price-amount amount" style="color:red;"><span class="woocommerce-Price-currencySymbol">Rp</span> @item.Harga_Jual</span></del>
                                                    <ins><span class="woocommerce-Price-currencySymbol" style="color:green;">@item.Harga_Setelah_Diskon</span></ins>
                                                }

                                            </span><a href="#" target="_blank">
                                                <h3>@item.Nama_Product</h3>
                                            </a>
                                        </div>
                                    </div>
                                </div>

                            }
                        </div>
                    </div>
                </div>
                <div class="pagination-product text-right">
                    <div class="pagination-list">
                        <div class="page active">1</div>
                        <div class="page">2</div>
                        <div class="page">...</div>
                        <div class="page">9</div>
                        <div class="page">next</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>