
@{
    ViewData["Title"] = "ProductDetails";
    Layout = "~/Views/Shared/_LayoutFront.cshtml";
}
@using ProjectSepatu.Core.ProductProperties.ProductMasterClass

@model ProductMaster
<section class="product-information" style="margin-top:20px;">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div id="sync1" class="owl-carousel owl-template">
                    <div class="item">
                        <figure><img src="~/Assets/Front/image/product/1.jpg" alt="slide" width="540" height="700" /></figure>
                    </div>
                    <div class="item">
                        <figure><img src="~/Assets/Front/image/product/1.jpg" alt="slide" width="540" height="700" /></figure>
                    </div>
                    <div class="item">
                        <figure><img src="~/Assets/Front/image/product/1.jpg" alt="slide" width="540" height="700" /></figure>
                    </div>
                    <div class="item">
                        <figure><img src="~/Assets/Front/image/product/1.jpg" alt="slide" width="540" height="700" /></figure>
                    </div>
                </div>
                <div id="sync2" class="owl-carousel owl-template">
                    <div class="item">
                        <figure><img src="~/Assets/Front/image/product/2.jpg" alt="slide" width="180" height="220" /></figure>
                    </div>
                    <div class="item">
                        <figure><img src="~/Assets/Front/image/product/2.jpg" alt="slide" width="180" height="220" /></figure>
                    </div>
                    <div class="item">
                        <figure><img src="~/Assets/Front/image/product/2.jpg" alt="slide" width="180" height="220" /></figure>
                    </div>
                    <div class="item">
                        <figure><img src="~/Assets/Front/image/product/2.jpg" alt="slide" width="180" height="220" /></figure>
                    </div>
                </div>
            </div>
            <div class="col-md-6" style="margin-top:80px;">
                <div class="summary-product entry-summary">
                    <h1 class="product_title" style="text-align:left;font-family:Arial;color:black">@Model.Nama_Product</h1>
                    @*<div class="woocommerce-product-rating"></div>*@

                    <div class="rate-price">
                        @*<div class="rate"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-o"></i></div>*@

                        @if (Model.Diskon_Persen == 0 && Model.Diskon_Rp == 0)
                        {
                            <h3 class="price" style="color:black;text-align:left;font-family:Arial"><span><strong>Rp @Model.Harga_Jual</strong></span></h3>
                        }
                        else
                        {
                            <h2 class="price" style="color:black;text-align:left;font-family:Arial"><span>Rp @Model.Harga_Jual</span></h2>
                        }
                    </div>
                    @*<div class="about-description">
                            @*<h3>@Model.Remarks</h3>
                            <p style="display:inline-block">ajsdhfashdjfhadsjfhajksdnfkjhasdlfhlkdfjlaksdjflasdlkfhasdfhkjasdhfkahsdfhasdfhkjasdfkjasdhfkjahsdfkjhasdkjfhakjsdfkjasdfjkahsdfjkhaskjdfhkjasdhfkasdfkjhasdfjhaskjdfhkajsdfhkajdhfkjadshfjkhdfjhasdkfjhaskjdfhkjasdhfkjahsdfhaskjdfhasjdhfjkahsdfkjasdfkjhasdfkjhaslkdfhaskjdfkjsdhfkjhasdfkjhaksdflhasdhf</p>
                        </div>*@
                    <h3>Description</h3>
                    <div class="wpb_text_column wpb_content_element">
                        <div class="wpb_wrapper">
                            <p>@Model.Remarks</p>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <p class="" style="color:black;text-align:left;font-family:Arial"><strong>Qty: </strong> </p>
                        <div class="quantity">
                            <input step="1" min="1" name="quantity" value="1" title="Qty" size="4" type="number" class="input-text qty text" />
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="usr"style="color:black">Catatan: </label>
                            <textarea type="text" rows="4" placeholder="Contoh : warna, ukuran" class="form-control" id="usr"></textarea>
                        </div>
                    </div>
                    <button style="background-color:black;color:white" class="btn btn-block" onclick="AddToCart(@Model.Id)">ADD TO CART&nbsp;&nbsp;<i class="fa fa-cart-plus" aria-hidden="true"></i>
</button>
                   
                </div>
            </div>

           
        </div>
    </div>

</section>
