
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
@using ProjectSepatu.Models.KonfirmasiPembayaranViewModels

@model KonfirmasiPembayaranViewModel
<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Konfirmasi Pembayaran</h1>
    </div>
</div>



<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                Konfirmasi Pembayaran
            </div>
            <!-- /.panel-heading -->
            <div class="panel-body">

                <div class="panel panel-default">
                    <div class="panel-heading">
                        Filter
                        <div class="btn-group pull-right">
                            <a href="#">
                                <span class="glyphicon glyphicon-search" onclick=""></span>
                            </a>
                        </div>
                    </div>
                    <div class="panel-body">
                        <form role="form" id="filterBrandList">
                            <div class="form-group">
                                <label>Metode Pembayaran</label>
                                @{
                                    var listsort = new List<SelectListItem>();
                                    foreach (var item in Model.MetodePembayaranList)
                                    {
                                        listsort.Add(new SelectListItem
                                        {
                                            Value = ""+item.Id+"",
                                            Text = ""+item.Metode_Pembayaran+""
                                        });
                                    }

                                }
                                @Html.DropDownList("SortBy", listsort, new { @class = "form-control", @onchange = "CallChangefunc(this.value)", style = "width:300px" })
                            </div>
                            <div class="form-group">
                                <label>JenisPembayaran</label>
                                @Html.TextBox("JenisPembayaran", "", new { @class = "form-control", style = "width:300px" })
                            </div>
                        </form>
                    </div>
                </div>
                
                <table width="100%" class="table table-striped table-bordered table-hover" id="dataTables-example">
                    <thead>
                        <tr>
                            <th style="width:50px"></th>
                            <th style="width:50px"></th>
                            <th>Code Pesanan</th>
                            <th>Metode Pembayaran </th>
                            <th>Jenis Pembayaran</th>
                            <th>Total Harga</th>
                        </tr>
                    </thead>
                    <tbody>
                       @foreach (var item in Model.GridViewList)
                       {
                            <tr class="odd gradeX">
                                <td>
                                    <input type="button" name="name" value="Confirm" class="btn btn-primary btn-sm" onclick="KonfirmasiPenerimaan(@item.TransaksiHeaders.Id)" />
                                </td>
                                <td>
                                    <input type="button" name="name" value="Cancel" class="btn btn-danger btn-sm" onclick="RefundPenerimaan(@item.TransaksiHeaders.Id)" />
                                </td>
                                <td>@item.TransaksiHeaders.Kode_Transaksi</td>
                                <td>@item.MetodePembayaran</td>
                                <td>@item.JenisMetodePembayaran</td>
                                <td>Rp @item.TotalHarga</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<script>

    function KonfirmasiPenerimaan(id) {
        window.location.replace("http://localhost:53293/KonfirmasiPembayaran/KonfirmasiProcess/" + id);
    }
    function RefundPenerimaan(id) {
        window.location.replace("http://localhost:53293/KonfirmasiPembayaran/RefundProcess/" + id);
    }
</script>

