
@{
    ViewData["Title"] = "TabType";
}

@using ProjectSepatu.Models.OperationalViewModel

@model TabTypeModel


<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                Type
            </div>
            <!-- /.panel-heading -->
            <div class="panel-body">

                <div class="panel panel-default">
                    <div class="panel-heading">
                        Filter
                        <div class="btn-group pull-right">
                            <a href="#">
                                <span class="glyphicon glyphicon-search" onclick=""></span>
                            </a>
                        </div>
                    </div>
                    <div class="panel-body">
                        <form role="form" id="filterBrandList">
                            <div class="form-group">
                                <label>Type</label>
                                @Html.TextBox("JenisPembayaran", "", new { @class = "form-control", style = "width:300px" })
                            </div>
                        </form>
                    </div>
                </div>
                @using (Html.BeginForm("SaveType", "Operational", FormMethod.Post))
                {
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            Input
                            <div class="btn-group pull-right">
                                <a href="#">
                                    <span class="glyphicon glyphicon-file" onclick=""></span>
                                </a>
                                <a href="#">
                                    <span class="glyphicon glyphicon-floppy-disk" onclick=""></span>
                                </a>
                            </div>
                        </div>
                        <div class="panel-body">
                            <div class="form-group">
                                <label>Type</label>
                                @Html.TextBoxFor(model => model.Type.Type, new { @class = "form-control", style = "width:300px" })
                                @Html.HiddenFor(model => model.Type.Id)
                            </div>
                            <button type="submit" class="btn btn-outline-warning">Save</button>
                        </div>
                    </div>
                }
                <table width="100%" class="table table-striped table-bordered table-hover" id="dataTables-example">
                    <thead>
                        <tr>
                            <th style="width:50px"></th>
                            <th style="width:50px"></th>
                            <th>Type</th>
                        </tr>
                    </thead>
                    <tbody>
                        @try
                        {
                            @foreach (var item in Model.TypeList)
                            {
                                @if (item.IsHidden == false)
                                {
                                    <tr class="odd gradeX">
                                        <td>
                                            <input type="button" name="name" value="Edit" class="btn btn-primary btn-sm" onclick="SearchTypeList(@item.Id)" />
                                        </td>
                                        <td>
                                            <input type="button" name="name" value="Delete" class="btn btn-danger btn-sm" onclick="DeleteRowType(@item.Id)" />
                                        </td>

                                        <td>@item.Type.ToString()</td>

                                    </tr>
                                }
                            }
                        }
                        catch
                        {

                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<script>
    function DeleteRowType(id) {
        window.location.replace("http://localhost:53293/Operational/DeleteType/" + id);
    }
    function SearchTypeList(id) {
        $.get('/Operational/TabType/' + id, function (data) {
            if (data) {
                $("#view7").html(data);
            }
        })
    }
</script>